<!-- --------------------------------------------------------<inicio sesion>-------------------------------------------------------------------- -->
<h2>Iniciar secion</h2>
<form [formGroup]="loginProveedor" (ngSubmit)="loginProvedorButton()">
  <div class="form-group">
    <label for="userProveedor">usuario proveedor:</label>
    <input type="text" class="form-control" placeholder="usuario proveedor" id="userProveedor"
      formControlName="userProveedor">
  </div>
  <div class="form-group">
    <label for="passwordProveedor">contraseña proveedor:</label>
    <input type="text" class="form-control" placeholder="contraseña proveedor" id="passwordProveedor"
      formControlName="passwordProveedor">
  </div>
  <br>
  <button type="submit" class="btn btn-primary mb-3">Login</button>

</form>
<br>
<br>
<br>
<!-- ---------------------------------------------------<Formulario registro hotel>------------------------------------------------------------- -->
  <form [formGroup]="registerHotel" (ngSubmit)="addHotelButton()" *ngIf="active">
    <h2>Formulario registro hotel</h2>
  <div class="form-group">
    <label for="id">id del hotel:</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del hotel" id="idHotel"
      formControlName="idHotel">
    <!-- <div *ngIf="submitted && f.nameHotel.errors" class="invalid-feedback">
      <div *ngIf="f.nameHotel.errors.required">* El nombre del hotel es obligatorio</div>
    </div> -->
  </div>
  <div class="form-group">
    <label for="name">Nombre del hotel:</label>
    <input type="text" class="form-control" placeholder="Ingrese el nombre del hotel" id="nameHotel"
      formControlName="nameHotel">
    <!-- <div *ngIf="submitted && f.nameHotel.errors" class="invalid-feedback">
      <div *ngIf="f.nameHotel.errors.required">* El nombre del hotel es obligatorio</div>
    </div> -->
  </div>
  <div class="form-group">
    <label for="loc">Ubicación:</label>
    <input type="text" class="form-control" placeholder="Ingrese la ubicación del hotel" id="locationHotel"
      formControlName="locationHotel">
    <!-- <div *ngIf="submitted && f.locationHotel.errors" class="invalid-feedback">
      <div *ngIf="f.locationHotel.errors.required">* La ubicación del hotel es obligatorio</div>
    </div> -->
  </div>
  <div class="form-group">
    <label for="tel">Teléfono 1:</label>
    <input type="text" class="form-control" placeholder="Ingrese el número telefónico" id="telHotel"
      formControlName="telHotel">
    <!-- <div *ngIf="submitted && f.telHotel.errors" class="invalid-feedback">
      <div *ngIf="f.telHotel.errors.required">* Debe de tener por lo menos un número de teléfono hotel es obligatorio</div>
    </div> -->
  </div>
  <div class="form-group">
    <label for="tel2">Teléfono 2:</label>
    <input type="text" class="form-control" placeholder="Ingrese otro número telefónico (si lo tiene)" id="tel2"
      formControlName="tel2">
  </div>
  <div class="form-group">
    <label for="descHotel">Descripción del hotel:</label>
    <input type="text" class="form-control" placeholder="Ingrese una breve descripción del hotel" id="descHotel"
      formControlName="descHotel">
    <!-- <div *ngIf="submitted && f.descHotel.errors" class="invalid-feedback">
      <div *ngIf="f.descHotel.errors.required">* La descripción del hotel es obligatoria</div>
    </div> -->
  </div>
  <div class="form-group">
    <label for="photoHotel">Fotos del hotel</label>
    <input formControlName="file" id="file" type="file" class="form-control" accept="image/*"
      (change)="onFileChange($event)">
  </div>
  <div class="form-group">
    <label for="addressHotel">Dirección del hotel:</label>
    <input type="text" class="form-control" placeholder="Ingrese la dirección del hotel" id="addressHotel"
      formControlName="addressHotel">
    <!-- <div *ngIf="submitted && f.addressHotel.errors" class="invalid-feedback">
      <div *ngIf="f.addressHotel.errors.required">* La dirección del hotel es obligatoria</div>
    </div> -->
  </div>
  <div class="form-group">
    <label for="fkCompany">Identificación de empresa:</label>
    <input type="text" class="form-control" placeholder="Id empresa" id="fkCompany" formControlName="fkCompany">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
      <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
    </div> -->
  </div>
  <button>Submit</button>
  <button (click)="updateHotelButton()">Actualizar</button>
</form>
<!-- --------------------------------------------------------------------------<Busqueda hotel>------------------------------------------------ -->
  <form id="searchHotel" (ngSubmit)="showHotelButton()" *ngIf="active">
    
    <label>Busqueda hote</label>
  <div>
    <button type="submit" class="btn btn-primary mb-3">mostrar</button><br>
    <table>
      <tr>
        
        <td></td>
        <th>nombre hotel</th>
        <td></td>
        <th>ubicacion hotel</th>
        <td></td>
        <th>telefono 1</th>
        <td></td>
        <th> telefono 2</th>
        <td></td>
        <th>descripcion hotel</th>
        <td></td>
        <th>foto hotel</th>
        <td></td>
        <th>direccion hotel</th>
        <td></td>
      </tr>
      <tr *ngFor="let data of dataHotel[0]">
       
        <td></td>
        <th>{{data.nombre_hotel}}</th>
        <td></td>
        <th>{{data.ubicacion_hotel}}</th>
        <td></td>
        <th>{{data.telefono1_hotel}}</th>
        <td></td>
        <th>{{data.telefono2_hotel}}</th>
        <td></td>
        <th>{{data.descripcion_hotel}}</th>
        <td></td>
        <th><img src="../assets/{{data.foto_hotel}}" width="20%" height="20%"></th>
        <td></td>
        <th>{{data.direccion_hotel}}</th>
        <td></td>
      </tr>
    </table>
  </div>
</form>
<!-- ------------------------------------------------------------<Eliminar hotel>--------------------------------------------------------------- -->
  <form [formGroup]="deleteHotel" (ngSubmit)="deleteHotelButton()" *ngIf="active">
    <h2>Eliminar hotel</h2>
  <div class="form-group">
    <label for="IDDHotel">ID del hotel a eliminar:</label>
    <input type="text" class="form-control" placeholder="Id hotel" id="IDDHotel" formControlName="IDDHotel">
    <button type="submit" class="btn btn-primary mb-3">Eliminar</button><br>
  </div>
  <br>
  <br>
</form>
<!-- -------------------------------------------------<Formulario registro habitacion>---------------------------------------------------------- -->
  <form [formGroup]="registerRoom" (ngSubmit)="addRoomButton()" *ngIf="!active">
    <h2>Formulario registro habitacionl</h2>
  <div class="form-group">
    <label for="idRoom">id del habitacion:</label>
    <input type="number" class="form-control" placeholder="Ingrese el nombre del hotel" id="idRoom"
      formControlName="idRoom">
    <!-- <div *ngIf="submitted && f.nameHotel.errors" class="invalid-feedback">
        <div *ngIf="f.nameHotel.errors.required">* El nombre del hotel es obligatorio</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="capacityRoom">Capacidad habitacion:</label>
    <input type="text" class="form-control" placeholder="Ingrese la capacidad de la habitacion" id="capacityRoom"
      formControlName="capacityRoom">
    <!-- <div *ngIf="submitted && f.nameHotel.errors" class="invalid-feedback">
        <div *ngIf="f.nameHotel.errors.required">* El nombre del hotel es obligatorio</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="Checkout">Checkout:</label>
    <input type="time" class="form-control" placeholder="Ingrese el Checkout" id="Checkout" formControlName="Checkout">
    <!-- <div *ngIf="submitted && f.locationHotel.errors" class="invalid-feedback">
        <div *ngIf="f.locationHotel.errors.required">* La ubicación del hotel es obligatorio</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="dateStartRoom">Fecha inicio habitacion:</label>
    <input type="date" class="form-control" placeholder="Ingrese fecha de disponivilidad inicial" id="dateStartRoom"
      formControlName="dateStartRoom">
    <!-- <div *ngIf="submitted && f.telHotel.errors" class="invalid-feedback">
        <div *ngIf="f.telHotel.errors.required">* Debe de tener por lo menos un número de teléfono hotel es obligatorio</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="dateEndRoom">Fecha fin habitacion:</label>
    <input type="date" class="form-control" placeholder="Ingrese fecha de disponivilidad final " id="dateEndRoom"
      formControlName="dateEndRoom">
  </div>
  <div class="form-group">
    <label for="Checkin">Checkin :</label>
    <input type="time" class="form-control" placeholder="Ingrese el Checkin" id="Checkin" formControlName="Checkin">
    <!-- <div *ngIf="submitted && f.descHotel.errors" class="invalid-feedback">
        <div *ngIf="f.descHotel.errors.required">* La descripción del hotel es obligatoria</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="drescriptionRoom">descripcion habitacion:</label>
    <input type="text" class="form-control" placeholder="Ingrese la descripcion de la habitacion" id="drescriptionRoom"
      formControlName="drescriptionRoom">
    <!-- <div *ngIf="submitted && f.descHotel.errors" class="invalid-feedback">
        <div *ngIf="f.descHotel.errors.required">* La descripción del hotel es obligatoria</div>
      </div> -->
  </div>
  <!-- 
    <div class="form-group">
      <label for="photoHotel">Fotos del hotel</label>
      <input
          formControlName="photoHotel"
          id="photoHotel"
          type="photoHotel"
          class="form-control"
          (change)="onphotoHotelChange($event)">
    </div> -->
  <div class="form-group">
    <label for="priceRoom">Precio Habitacion:</label>
    <input type="number" class="form-control" placeholder="Ingrese el precio de la habitacion" id="priceRoom"
      formControlName="priceRoom">
    <!-- <div *ngIf="submitted && f.addressHotel.errors" class="invalid-feedback">
        <div *ngIf="f.addressHotel.errors.required">* La dirección del hotel es obligatoria</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="StateRoom">Estado habitacion:</label>
    <input type="text" class="form-control" placeholder=" activo/inactivo" id="StateRoom" formControlName="StateRoom">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
        <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
      </div> -->
  </div>
  <div class="form-group">
    <label for="companyRoom">Identificador del hotel al que pertenece:</label>
    <input type="text" class="form-control" placeholder="empresa a la que pertenece" id="companyRoom"
      formControlName="hotelReference">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
        <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
      </div> -->
  </div>
  <button type="submit" class="btn btn-primary mb-3">Submit</button>
  <button (click)="showRoomButton()">mostrar</button>
  <table>
    <tr>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
    </tr>
    <tr *ngFor="let data of dataRoom[0]">
      <th>{{data.id_habitacion }}</th>
      <td></td>
      <th>{{data.capacidad_habitacion}}</th>
      <td></td>
      <th>{{data.checkout}}</th>
      <td></td>
      <th>{{data.fecha_inicio_habitacion}}</th>
      <td></td>
      <th>{{data.fecha_fin_habitacion}}</th>
      <td></td>
      <th>{{data.checkin}}</th>
      <td></td>
      <th>{{data.descripcion_habitacion}}</th>
      <td></td>
      <th>{{data.precio_habitacion}}</th>
      <td></td>
      <th>{{data.estado_habitacion }}</th>
      <td></td>
      <th>{{data.array_disponibilidad}}</th>
    </tr>
  </table>
  <br>
  <br>
  <br>
</form>
<!-- --------------------------------------------------------<Buscador>------------------------------------------------------------------------ -->
  <form [formGroup]="lookForHotel" (ngSubmit)="lookForHotelButton()" *ngIf="!active">
    <h2>Buscador</h2>
  <div class="form-group">
    <label for="place">Destino:</label>
    <input type="text" class="form-control" placeholder="destino" id="place" formControlName="place">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
        <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
      </div> -->

    <label for="numberPeople">Cantidad de peronas</label>
    <input type="text" class="form-control" placeholder="cantida de personas" id="numberPeople"
      formControlName="numberPeople">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
        <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
      </div> -->

    <label for="dateStartTravel">Fecha inicio</label>
    <input type="date" class="form-control" placeholder="dateStartTravel" id="dateStartTravel"
      formControlName="dateStartTravel">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
        <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
      </div> -->

    <label for="dateEndTravel">Fecha fin</label>
    <input type="date" class="form-control" placeholder="dateEndTravel" id="dateEndTravel"
      formControlName="dateEndTravel">
    <!-- <div *ngIf="submitted && f.fkCompany.errors" class="invalid-feedback">
        <div *ngIf="f.fkCompany.errors.required">* El identificador es obligatorio</div>
      </div> -->


    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
    <tr *ngFor="let data of dataHotelSeeker[0]">
      <th>{{data.matricula_hotel}}</th>
      <td></td>
      <th>{{data.nombre_hotel}} <button (click)="lookForRoomButton( variable=data.matricula_hotel )"> ver hotel</button></th>
      <td></td>
      <th>{{data.ubicacion_hotel}}</th>
      <td></td>
      <th>{{data.telefono1_hotel}}</th>
      <td></td>
      <th>{{data.telefono2_hotel}}</th>
      <td></td>
      <th>{{data.descripcion_hotel}}</th>
      <td></td>
      <th>{{data.foto_hotel}}</th>
      <td></td>
      <th>{{data.descripcion_hotel}}</th>
      <td></td>
      <th>{{data.id_empresa_H_FK  }}</th>
      <td></td>
      <br>
      <br>
      <br>
      <br>
    <tr *ngFor="let data of habitacion123[0]">
      <th>{{data.id_habitacion }}<button (click)="lookForDisponibilityRoomButton( variable=data.id_habitacion )"> ver hotel</button></th>
      <td></td>
      <th>{{data.capacidad_habitacion}}</th>
      <td></td>
      <th>{{data.checkout}}</th>
      <td></td>
      <th>{{data.fecha_inicio_habitacion}}</th>
      <td></td>
      <th>{{data.fecha_fin_habitacion}}</th>
      <td></td>
      <th>{{data.checkin}}</th>
      <td></td>
      <th>{{data.descripcion_habitacion}}</th>
      <td></td>
      <th>{{data.precio_habitacion}}</th>
      <td></td>
      <th>{{data.estado_habitacion }}</th>
      <td></td>
      <th>{{data.id_hotel_H_FK }}</th>
    </tr>
    <tr *ngFor="let data of reservaHabitacion[0]">
      <th>{{data.array_disponibilidad}}<button (click)="prueba( variable=data.array_disponibilidad )"> ver hotel</button></th>

    </tr>

  </div>
  <br>
  <br>
</form>