<button (click)="showRoomButton()">mostrar</button>
  <table>
    <tr>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
      <td></td>
      <th>dato</th>
    </tr>
    <tr *ngFor="let data of dataRoom[0]">
      <th>{{data.id_habitacion }}</th>
      <td></td>
      <th>{{data.capacidad_habitacion}}</th>
      <td></td>
      <th>{{data.checkout}}</th>
      <td></td>
      <th>{{data.fecha_inicio_habitacion}}</th>
      <td></td>
      <th>{{data.fecha_fin_habitacion}}</th>
      <td></td>
      <th>{{data.checkin}}</th>
      <td></td>
      <th>{{data.descripcion_habitacion}}</th>
      <td></td>
      <th>{{data.precio_habitacion}}</th>
      <td></td>
      <th>{{data.estado_habitacion }}</th>
      <td></td>
      <th>{{data.array_disponibilidad}}</th>
    </tr>
  </table>